<section class="order about">
  <div class="container">
    <div>
      <div class="order-text-title double-title">
        <span>Лучшая итальянская пиццерия</span>
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias
          amet animi corporis cumque delectus distinctio dolor dolorem eius enim
          inventore ipsum libero, nobis obcaecati, odio officiis sequi unde? A
          ad amet debitis delectus eos hic, labore maxime, molestiae nemo nobis
          quam qui quos recusandae sed similique sint ut! Adipisci aut
          blanditiis consectetur, cumque doloremque dolorum enim esse est eum
          expedita facere fugit hic impedit incidunt labore, maiores mollitia
          nisi odio officiis provident quaerat quisquam ratione rem repellendus
          sunt ut vel voluptatum. Alias consequatur deserunt eaque earum ex
          facere fugiat incidunt maxime pariatur, quos sapiente ullam
          voluptatem! Aliquid amet animi blanditiis delectus dignissimos eveniet
          illum impedit ipsa iusto libero maxime minus natus nemo non optio
          pariatur quaerat qui quibusdam quidem quis quisquam quo repudiandae,
          sapiente tempore vel! Accusantium asperiores aspernatur at commodi,
          consectetur deserunt dignissimos distinctio dolorem doloribus eius et
          ex hic impedit incidunt iure libero nemo nihil, numquam obcaecati
          omnis porro qui quibusdam quis reiciendis repellendus repudiandae
          tempora unde veniam veritatis voluptas. At aut quis repellendus unde
          voluptatibus?
      </div>
    </div>
    <div class="about-image">
      <img src="../../../../assets/img/pizza_big.png" alt="Кусочек пиццы">
    </div>
  </div>
</section>


<app-popup data="about component"></app-popup>
