.product-item {
display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item > * {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.product-action {
  margin-top: 10px;
}
